.top-text {
	/* background-color: red; */
	width: 80%;
	position: relative;
}

.top-text p {
	margin: 30px;
	font-size: 20px;
	font-weight: bold;
	color: red;
}
table {
	font-size: 15px;
}

tr th {
	padding-bottom: 10px;
}

tr td {
	text-align: center;

}

tr td img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.sum {
	text-align: right;
}

.chuc-nang {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.delete {
	color: red;
}

.thanh-toan {
	margin: 50px 300px;
	width: 50vh;
	height: 30px;
	font-size: 15px;
	font-weight: boid;
	text-align: center;
	background-color: rgb(8, 67, 57);
}

.thanh-toan a {
	color: rgb(155, 249, 5);
	text-decoration: none;
}