.right {
    width: 80%;
    height: 500px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

.type-food {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.type-food-eat {
    width: 150px;
    height: 30px;
    color: #39B1E4;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
}

.type-food-drink {
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 30px;
    color: #39B1E4;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    
}

.type-food-eat:hover,.type-food-drink:hover  {
    background-color: #c1d2da !important;
    cursor: pointer;
}
.active {
    background-color: #EFEFEF;
}


.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.food {
    width: 180px;
    height: 180px;
    /* background-color: red; */
    border-radius: 5px;
    border: 1px solid red;
    position: relative;
}

.food .image img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    /* object-fit: contain; */
    position: absolute;
    left: 30%;
    top: 10px;
}

.food .name {
    position: absolute;
    left: 35%;
    top: 100px;
    font-size: 15px;
    font-weight: bold;
}
.food .id  {
    position: absolute;
    left: 80%;
    top: 100px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(245, 116, 116);
    padding: 3px;
    border-radius: 4px;
}

.food .price {
    position: absolute;
    left: 10%;
    top: 150px;
    max-width: 100px;
    font-size: 15px;
    font-weight: bold;
    /* background-color: rgb(133, 255, 41); */
}
.food .price .coin {
    display: inline-block;
}
.food .add {
    position: absolute;
    left: 70%;
    top: 145px;
    max-width: 100px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(196, 196, 196, 0.42);
    border-radius: 3px;
    border: none;
    color: rgb(231, 59, 59);
}



