doctype html
html(lang='vi')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Canteen US
    link(rel='stylesheet' href='./assets/css/base.css')
    link(rel='stylesheet' href='./assets/css/grid.css')
    link(rel='stylesheet' href='./assets/css/main.css')
    link(rel='stylesheet' href='./assets/css/style.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto&display=swap')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
  body
    .app(style='min-height: 100vh;')
      header.header
        .grid.wide
          nav.header__navbar.hide-on-mobile-tablet
            ul.header__navbar-list(style='width:1200px')
              // Header with Search
              .header-with-search
                label.header__mobile-search(for='mobile-search-checkbox')
                  i.header__mobile-search-icon.fas.fa-search
                // Header Logo
                .header__logo.hide-on-tablet
                  img.header__logo-img(src='./assets/img/logo.png' alt='')
                  a.header__logo-link(href='/')
                input#mobile-search-checkbox.header__search-checkbox(type='checkbox' hidden='')
                // Header Search
                .header__search
                  .header__search-input-wrap
                    input.header__search-input(type='text' placeholder='Nhập để tìm kiếm sản phẩm')
                  button.header__search-btn
                    i.header__search-btn-icon.fas.fa-search
                // Header Logo
                .header__location.hide-on-tablet
                  img.header__location-img(src='./assets/img/location.png' alt='')
                  a.header__location-link(href='/')
                // User
                .header__user
                  img.header__navbar-user-img(src='./assets/img/user_avatar.png' alt='')
                  ul.header__navbar-user-menu
                    li.header__navbar-user-item
                      a(href='') Tài khoản của tôi
                    li.header__navbar-user-item.header__navbar-user-item--separate
                      a(href='') Đăng xuất
      .app__container(style='background-color: white;')
        .grid.wide
          .row.sm-gutter.app__content
            // Category
            .col.l-2.m-0.c-0(style='margin-top: 50px;')
              nav.category
                ul.category-list
                  li.category-item
                    button.category-item__link
                      a(style='text-decoration: none;' href='./index.html')
                        | Trang
                        | chủ
                  li.category-item
                    button.category-item__link
                      | Thực đơn
                    // <a href="#" class="category-item__link">Thực đơn</a>
                  li.category-item
                    button.category-item__link Kho hàng
                    // <a href="#" class="category-item__link">Kho hàng</a>
                  li.category-item
                    button.category-item__link Khách hàng
                    // <a href="#" class="category-item__link">Khách hàng</a>
                  li.category-item.category-item--active
                    button.category-item__link
                      a(style='text-decoration: none;' href='./chart.html') Thống kê
                  li.category-item
                    button.category-item__link Nhân viên
                    // <a href="#" class="category-item__link">Nhân viên</a>
                  li.category-item
                    button.category-item__link Tạo thẻ khách hàng
                    // <a href="#" class="category-item__link">Tạo thẻ khách hàng</a>
            .right
              div
                canvas#myChart
              script(src='https://cdn.jsdelivr.net/npm/chart.js')
              script.
                const ctx = document.getElementById('myChart');
                new Chart(ctx, {
                type: 'line',
                data: {
                labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                datasets: [{
                label: 'Thống kê thu nhập',
                data: [12, 19, 3, 5, 2, 3, 50, 12, 1, 21, 2, 2, 12, 1, 5, 5],
                borderWidth: 1
                }]
                },
                options: {
                scales: {
                y: {
                beginAtZero: true
                }
                }
                }
                });
